#testing {
	position: relative;
	height: 100%;
}

.testing__header {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	position: absolute;
	top: 86px;
	left: 32px;
}

/* Back button */
#testing .landing__left--content {
	position: absolute;
	bottom: 32px;
	left: 32px;
	margin: 0;
	display: flex;
}

.testing__container {
	width: 100%;
	height: 100%;
	max-width: 762px;
	max-height: 762px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.testing__content {
	height: 100%;
	max-width: 448px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.dotted-box {
	position: absolute;
	z-index: 1;
	pointer-events: none;
}

.testing__box--second {
	transform: scale(1.1);
	opacity: 0.6;
}

.testing__box--third {
	transform: scale(1.2);
	opacity: 0.3;
}

.testing__content--input {
	border: none;
	text-align: center;
	line-height: 64px;
	font-size: 60px;
	letter-spacing: -0.2rem;
	position: relative;
	border-bottom: 1px solid #1A1B1C;
	width: 100%;
}

.testing__content--input:focus-visible {
	outline: none;
}

.testing__input--container {
	position: relative;
}

.testing__content--para {
	position: absolute;
	top: -32px;
	right: 50%;
	transform: translateX(50%);
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	opacity: 0.4;
}

.testing__content--input::placeholder {
	color: #1A1B1C;
}
