#testing {
	position: relative;
	height: 100%;
}

.testing__header {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	position: absolute;
	top: 86px;
	left: 32px;
}

/* Back button */
#testing .landing__left--content,
#result .landing__left--content {
	position: absolute;
	bottom: 32px;
	left: 32px;
	margin: 0;
	display: flex;
}

/* Next button */
#testing .landing__right--content,
#result .landing__right--content {
	position: absolute;
	bottom: 32px;
	right: 32px;
	margin: 0;
	display: flex;
}

.testing__container {
	width: 100%;
	height: 100%;
	max-width: 762px;
	max-height: 762px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.testing__content {
	position: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: fit-content;
}

.dotted-box__container {
	width: 100%;
	height: 100%;
	position: relative;
}

.dotted-box {
	position: absolute;
	z-index: 1;
	pointer-events: none;
}

#testing .testing__box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
}

#testing .testing__box--second {
	transform: translate(-50%, -50%) rotate(3deg) scale(1.1);
	opacity: 0.6;
}

#testing .testing__box--third {
	transform: translate(-50%, -50%) rotate(7deg) scale(1.2);
	opacity: 0.3;
}

.testing__input--wrapper {
	display: flex;
	width: fit-content;
	position: relative;
}

.testing__input--container {
	position: relative;
	display: flex;
	justify-content: center;
}

.testing__content--span,
.testing__content--input {
	line-height: 64px;
	font-size: 60px;
	letter-spacing: -0.2rem;
}

.testing__content--span {
	visibility: hidden;
	white-space: pre;
	position: static;
	top: 0;
	left: 0;
}

.testing__content--input {
	text-align: center;
	border: none;
	border-bottom: 1px solid #1A1B1C;
	display: block;
	flex: 1;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.testing__content--input:focus-visible {
	outline: none;
}

.testing__content--para {
	position: absolute;
	top: -32px;
	right: 50%;
	transform: translateX(50%);
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #1A1B1C83;
	text-align: center;
	width: 100%;
	min-width: 250px;
}

.testing__content--input::placeholder {
	color: #1A1B1C;
}

.proceed-message {
	height: 100%;
	position: absolute;
	font-size: 18px;
	color: #1A1B1C83;
	display: flex;
	align-items: center;
	top: 22px;
}

.thank-you {
	color: #1A1B1C;
	font-size: 24px;
	text-transform: initial;
	position: absolute;
	top: 32px;
	right: 50%;
	translate: 50%;
}
