#landing {
	height: 100%;
}

.landing__container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.landing__sides {
	width: 100%;
	height: 500px;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

.landing__title {
	font-size: 128px;
	font-weight: 300;
	line-height: 120px;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: -0.5rem;
}

.landing__info--container {
	position: fixed;
	bottom: 0;
	left: 0;
}

.landing__info {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	margin: 32px;
}

.landing__left--border,
.landing__right--border {
	position: absolute;
	width: 500px;
	height: 500px;
	border: 1px dashed #A0A4AB;
	transform: rotate(45deg);
	z-index: -1;
	--x-before: 0px;
	--y-before: 0px;
	--opacity-before: 0;
	--x-after: 0px;
	--y-after: 0px;
	--opacity-after: 0;
}

.landing__left--border::before,
.landing__left--border::after,
.landing__right--border::before,
.landing__right--border::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px dashed #A0A4AB;
	opacity: var(--opacity-before);
	transform: translate(var(--x-before), var(--y-before));
}

.landing__left--border::after,
.landing__right--border::after {
	transform: translate(var(--x-after), var(--y-after));
	opacity: var(--opacity-after);
}

.landing__left--border::before {
	transform: translate(32px, -32px);
	filter: brightness(115%);
}

.landing__left--border::after {
	transform: translate(64px, -64px);
	filter: brightness(130%);
}

.landing__right--border::before {
	transform: translate(-32px, 32px);
	filter: brightness(115%);
}

.landing__right--border::after {
	transform: translate(-64px, 64px);
	filter: brightness(130%);
}

.landing__left--border {
	left: -300px;
}

.landing__right--border {
	right: -300px;
}

.landing__left--content,
.landing__right--content,
.landing__content {
	display: flex;
	align-items: center;
	margin: 0 32px;
	cursor: pointer;
	gap: 16px;
}

.landing__sides--text {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #1A1B1C;
	white-space: nowrap;
}

.landing__content {
	display: none;
}

.landing__btn {
	position: relative;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing__btn--left {
	transform: rotate(-90deg);
}

.landing__btn--right,
.landing__btn--center {
	transform: rotate(90deg);
}

.landing__btn--outline {
	width: 100%;
	height: 100%;
	position: absolute;
	outline: 1px solid #1A1B1C;
	transform: rotate(45deg);
}

@media (max-width: 1380px) {
	.landing__title {
		font-size: 100px;
	}

	.landing__left--border {
		left: -350px;
	}

	.landing__right--border {
		right: -350px;
	}
}

@media (max-width: 1024px) {
	.landing__container {
		position: relative;
	}

	.landing__left--border,
	.landing__right--border {
		left: 50%;
		transform: rotate(45deg) translateX(-50%);
		transform-origin: left center;
		width: 450px;
		height: 450px;
	}

	.landing__right--border {
		width: 375px;
		height: 375px;
	}

	.landing__sides {
		flex-direction: column;
		height: 500px;
		justify-content: center;
		text-align: center;
	}

	.landing__sides--text {
		font-weight: 800;
		font-size: 12px;
	}

	.landing__info--container {
		position: relative;
	}

	.landing__info {
		margin: 16px 0;
		text-transform: none;
		color: #1A1B1C83;
		font-weight: 500;
		font-size: 16px;
	}

	.landing__left--content,
	.landing__right--content {
		display: none;
	}

	.landing__content {
		display: inline-block;
		height: 24px;
		margin: 0 auto;
	}

	.landing__content img {
		height: 36px;
	}

	.landing__title {
		position: relative;
		width: 100%;
		font-size: 60px;
		line-height: 1;
		font-weight: 400;
		letter-spacing: -0.25rem;
	}

	.landing__content {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 640px) {
	.landing__container {
		transform: scale(0.75);
	}
}
