#landing {
	height: 100%;
}

.landing__container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.landing__sides {
	width: 100%;
	height: 500px;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

.landing__title {
	opacity: 0;
	font-size: 128px;
	font-weight: 300;
	line-height: 120px;
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	text-align: center;
	letter-spacing: -0.5rem;
}

.landing__info--container {
	position: fixed;
	bottom: 0;
	left: 0;
}

.landing__info {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	margin: 32px;
}

/* Additional styling for the sides and borders is done in components/Landing/Landing.css */
