.summary__corrector {
	width: 100%;
	max-width: 448px;
	margin-left: 16px;
	margin-right: 32px;
	padding-bottom: 16px;
	background-color: #F3F3F4;
	border-top: 1px solid #1A1B1C;
	display: flex;
	justify-content: space-between;
}

.summary__list--item .summary__para {
	text-transform: uppercase;
	color: #1A1B1C;
	opacity: 80%;
	font-weight: 500;
}

.summary__list {
	width: 100%;
}

.summary__list--icon {
	margin-right: 16px;
}

.summary__list--item {
	height: 48px;
	cursor: pointer;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	transition: all 300ms ease;
}

.summary__list--item:hover {
	background-color: #E1E1E2;
}

.summary__list--item--active:hover {
	background-color: #000;
}

.summary__list--item--active {
	background-color: #1A1B1C;
	color: #FCFCFC;
}

.summary__list--title {
	cursor: default;
}

.summary__list--title:hover {
	background-color: #F3F3F4;
}
