#summary {
	width: 100%;
	height: 100%;
}

.summary__header--large {
	top: 115px;
	left: 29px;
	font-size: 72px;
	font-weight: 400;
	height: 64px;
	line-height: 64px;
}

.summary__header--secondary {
	top: 190px;
	font-weight: 400;
	font-size: 14px;
}

.summary__container {
	position: absolute;
	top: 304px;
	width: 100%;
	height: 54vh;
	display: flex;
}

.summary__info {
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 400;
	color: #A0A4AB;
}

@media (max-width: 1110px) {

	html,
	body,
	#root #summary {
		overflow-y: visible !important;
	}

	#camera,
	#result,
	#select {
		max-height: 100vh;
		position: fixed;
		inset: 0;
		overflow: hidden;
	}

	#summary .landing__left--content {
		bottom: 36px !important;
		left: 48px !important;
	}

	.summary__container {
		flex-wrap: wrap;
		background-color: #FCFCFC;
		height: auto;
		padding-bottom: 100px;
	}

	.summary__item--container {
		width: 100%;
		margin-right: 32px;
		margin-bottom: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.summary__item--container .selector {
		width: 100%;
	}

	.summary__content {
		height: 500px;
		margin-bottom: 32px;
		margin-right: 16px;
	}

	.summary__info {
		left: 42vw;
	}

	#summary .landing__left--content,
	.summary__info,
	.summary__buttons {
		position: fixed !important;
	}

	#summary .summary__circle {
		right: 50%;
		bottom: 32px;
		transform: translateX(50%);
	}

	#summary .summary__corrector {
		max-width: 100%;
		margin-right: 16px;
		padding-bottom: 0;
	}
}

@media (max-width: 762px) {
	.summary__info {
		width: 250px;
		text-align: center;
		bottom: 24px;
	}
}

@media (max-width: 662px) {
	.summary__info {
		display: none;
	}

	.testing__header.summary__header--large {
		font-size: 50px;
	}
}

@media (max-width: 500px) {
	.testing__header.summary__header--large {
		font-size: 42px;
	}
}
