* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roobert", sans-serif;
}

html,
body,
#root {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #1A1B1C;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: #fff;
}

/* Back button */
#testing .landing__left--content,
#result .landing__left--content,
#summary .landing__left--content,
#camera .landing__left--content,
#select .landing__left--content {
  position: absolute;
  bottom: 32px;
  left: 32px;
  margin: 0;
  display: flex;
}

/* Next button */
#testing .landing__right--content,
#result .landing__right--content,
#summary .landing__right--content,
#camera .landing__right--content,
#select .landing__right--content {
  position: absolute;
  bottom: 32px;
  right: 32px;
  margin: 0;
  display: flex;
}

/* Dotted Boxes */
#testing .testing__box,
#result .testing__box,
#select .testing__box,
#camera .testing__box {
  top: 50%;
  left: 50%;
}

#select .testing__box,
#select .testing__box--second,
#select .testing__box--third {
  transform: translate(-50%, -50%);
  opacity: 1;
}

#select .testing__box--second {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.6;
}

#select .testing__box--third {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0.3;
}

#testing .testing__box--second,
#result .testing__box--second,
#camera .testing__box--second {
  transform: rotate(3deg) scale(1.1);
  opacity: 0.6;
}

#testing .testing__box--third,
#result .testing__box--third,
#camera .testing__box--third {
  transform: rotate(7deg) scale(1.2);
  opacity: 0.3;
}


@media (max-width: 1024px) {

  #landing .landing__left--content,
  #landing .landing__right--content {
    display: none !important;
  }
}

@media (max-width: 945px) {
  .landing__left--content {
    left: 64px !important;
    bottom: 64px !important;
    scale: 1.25;
  }

  .landing__right--content {
    right: 64px !important;
    bottom: 64px !important;
    scale: 1.25;
  }
}

@media (max-width: 728px) {

  #testing .testing__container,
  #camera .testing__container {
    transform: translate(-50%, -50%) scale(0.75);
  }

  #testing .dotted-box__container,
  #camera .dotted-box__container {
    transform: scale(0.75);
  }

  #camera .landing__left--content,
  #camera .landing__right--content {
    height: 42px;
    top: 64px !important;
  }

  .loading-camera__info--container.active {
    bottom: 32px;
  }

  .loading-camera__info--list {
    text-align: center;
    padding: 0 32px;
  }

  .capture-icon__container {
    height: 64px;
    left: 50%;
    top: 80% !important;
    justify-content: center;
  }

  #select .dotted-box__container {
    scale: 0.9;
  }

  #select .select__content--container {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (max-width: 560px) {
  #landing .dotted-box {
    transform: translate(-50%, -50%) scale(0.9);
  }

  .dotted-box__container {
    scale: 0.8;
  }

  #select .dotted-box__container {
    scale: 0.8;
  }

  #select .select__content--container {
    transform: translate(-50%, -50%) scale(0.8);
  }

  #testing .testing__container,
  #camera .testing__container {
    transform: translate(-50%, -50%) scale(0.65);
  }

  #testing .dotted-box__container,
  #camera .dotted-box__container {
    transform: scale(0.65);
  }

}
