* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roobert", sans-serif;
}

html,
body,
#root {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #1A1B1C;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: #fff;
}

/* Back button */
#testing .landing__left--content,
#result .landing__left--content,
#summary .landing__left--content,
#camera .landing__left--content,
#select .landing__left--content {
  position: absolute;
  bottom: 32px;
  left: 32px;
  margin: 0;
  display: flex;
}

/* Next button */
#testing .landing__right--content,
#result .landing__right--content,
#summary .landing__right--content,
#camera .landing__right--content,
#select .landing__right--content {
  position: absolute;
  bottom: 32px;
  right: 32px;
  margin: 0;
  display: flex;
}

/* Dotted Boxes */
#testing .testing__box,
#result .testing__box,
#select .testing__box,
#camera .testing__box {
  top: 50%;
  left: 50%;
}

#select .testing__box,
#select .testing__box--second,
#select .testing__box--third {
  transform: translate(-50%, -50%);
  opacity: 1;
}

#select .testing__box--second {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.6;
}

#select .testing__box--third {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0.3;
}

#testing .testing__box--second,
#result .testing__box--second,
#camera .testing__box--second {
  transform: rotate(3deg) scale(1.1);
  opacity: 0.6;
}

#testing .testing__box--third,
#result .testing__box--third,
#camera .testing__box--third {
  transform: rotate(7deg) scale(1.2);
  opacity: 0.3;
}
