* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roobert", sans-serif;
}

html,
body,
#root {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #1A1B1C;
}
