#loading-camera {
	height: 100%;
	width: 100%;
}

#loading-camera .dotted-box__container {
	scale: 0.85;
}

.loading-camera__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-camera__icon,
.loading-camera__para,
.loading-camera__info--container {
	position: absolute;
	top: 50%;
	left: 50%;
}

.loading-camera__icon {
	transform: translate(-50%, -50%) scale(1.2);
}

.loading-camera__para {
	transform: translate(-50%, -50%);
	top: 566px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}

.loading-camera__info--container {
	width: 100%;
	top: 726px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loading-camera__info--title,
.loading-camera__info {
	text-transform: uppercase;
	color: #1A1B1C;
	font-size: 14px;
	font-weight: 400;
}

.loading-camera__info--title {
	margin-bottom: 16px;
}

.loading-camera__info--list {
	display: flex;
	gap: 32px;
}

.loading-camera__info {
	display: flex;
	gap: 8px;
}
